

.cart{ background: #e0ddeb; padding: 60px 0;}

.box-inner{padding: 20px 10px; border: 1px solid skyblue;}
.box-inner .veg{display: inline-block; width: 10px; height: 10px; background: green; border-radius: 50%;}
.box-inner .non-veg{display: inline-block; width: 10px; height: 10px; background: #960505d7; border-radius: 50%;}