
.restaurant-card{
    width: 90%;
    aspect-ratio: 1/1.2;
    border: 1px solid #ddd;
    margin-bottom: 3rem;
    border-radius: 10px;
    overflow: hidden;
}

.restaurant-card .card-img{
    height: 50%;
    text-align: center;
    
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.restaurant-card .card-content{
    padding: 20px 10px 0 10px;
}